.hero-image {
  background-image: url("hotel.jpg");
  background-size: cover;
  height: 500px;
}

.hero-image a {
  padding: 10px 20px;
  background-color: #333;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.hero-text {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 100px;
  margin-top: 150px;
}

.hero-text h2 {
  margin: 0;
  font-size: 40px;
}

.hero-text p {
  font-size: 20px;
  margin-bottom: 30px;
}
